name: Create release to make .exe published.

on:
    push:
        # Any pushes on maion branch trigger this job.
        branches: [ "main" ]

    # Can be triggerred on Web UI of GitHub.
    workflow_dispatch:

jobs:
    # CREATE RELEASE AND UPLOAD EXECUTABLE FILE
    create-releases:
        runs-on: windows-latest
        needs: [build-on-windows]
        permissions:
            # "write" permission is required to create a release. (NO NEED to grant at repository settings.)
            contents: write
        steps:
            # CHECKOUT REPOSITORY
          - name: Checkout
            uses: actions/checkout@v3
            with:
                fetch-depth: 1
            # DOWNLOAD CRATE
          - name: download utility crate
            run: |
                Invoke-WebRequest -Uri "https://github.com/mass10/r-gh-create-release/releases/latest/download/r-gh-create-release.exe" -OutFile "r-gh-create-release.exe"
            # DOWNLOAD ARTIFACTS
          - name: Download artifacts
            uses: actions/download-artifact@v2
            with:
                name: my-temporary-artifacts
            # CREATE RELEASE AND UPLOAD EXECUTABLE FILE
          - name: Create a release and publish attachments.
            run: |
                .\r-gh-create-release --file iex.exe
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            # DELETE ARTIFACTS
          - name: Delete artifacts
            run: |
                curl -X DELETE -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/${{ github.repository }}/actions/artifacts" -d "{""name"":""artifacts""}"

    # FOR WINDOWS
    build-on-windows:
        runs-on: windows-latest
        steps:
            # CHECKOUT REPOSITORY
          - name: Checkout
            uses: actions/checkout@v3
            with:
                fetch-depth: 1
            # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
          - name: Setup MSBuild.exe
            uses: microsoft/setup-msbuild@v1.0.2

          - name: Restore nuget packages
            run: nuget restore

            # BUILD APPLICATION FOR WINDOWS
          - name: Create the app package
            run: msbuild /p:Configuration=Release
            # CREATE ARTIFACTS
          - name: Create Release
            uses: actions/upload-artifact@v3
            with:
                name: my-temporary-artifacts
                path: bin\Release\net7.0-windows\iex.exe
